# Configure ignored files for all repositories on the device.
# https://docs.github.com/en/github/getting-started-with-github/getting-started-with-git/ignoring-files#configuring-ignored-files-for-all-repositories-on-your-computer

# %USER/tokenrc
.npmrc
.terraformrc

# Bash output
*.bash_hitory

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
Spotlight-V100
.Trashes

# Build artifacts
*.pyc
*.exe
