# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

# DOS/Windows should always prioritize CRLF
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{sln,[sS][lL][nN]} text eol=crlf

# Explicitly define line where it may collide with linters locally
*.go text eol=lf
*.sh text eol=lf
